@import url('https://fonts.cdnfonts.com/css/playfair-display');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom CSS for setting viewport height */
:root {
    --vh: 100%;
  }
  * {
    margin: 0;
    padding: 0;
  }
  @font-face {
    font-family: 'SFUFuturaBold';
    font-style: normal;
    src: local('SFUFuturaBold'), url('/font/SFUFuturaBold.TTF') format('truetype');
  }
  @font-face {
    font-family: 'SFUFuturaBook';
    font-style: normal;
    src: local('SFUFuturaBook'), url('/font/SFUFuturaBook.TTF') format('truetype');
  }
  /* Base styles */
  html, body {
    background-color: #ffffff;
    background: #ffffff;
    margin: 0; /* Reset body margin to avoid extra gaps */
  }
  .font-sans{
    font-family: 'SFUFuturaBook' sans-serif;
  }
  /* Font family classes */
  .font-sans, .font-serif {
    font-weight: 400; /* Default weight for sans-serif */
  }
  .font-serif {
    font-family: "Playfair Display", serif;
    font-weight: 400; /* Adjust weight according to your design */
  }
  
  /* Typography using Tailwind CSS classes */
  h1, h2, h3{
    font-weight: 500 !important;
    font-family: 'SFUFuturaBook', sans-serif;
  }
  h4, h5, h6, p, small{
    font-weight: 100 !important;
    font-family: 'SFUFuturaBook', sans-serif;
  }
  a {
    font-weight: 100 !important;
    font-family: 'SFUFuturaBook', sans-serif;
  }
  p{
    @apply text-xs sm:text-sm md:text-base
  }
  span { @apply text-sm; }
  small { @apply text-xs text-gray-500; }
  b, strong {
    @apply font-normal; /* Sử dụng lớp Tailwind để thay đổi độ đậm của chữ */
  }
  .bg-black-gray{
    background: #222222;
    background-color: #222222;
  }
  .btn{
   
    height: 2.5rem !important;
    min-height: 2.5rem !important;
    @apply font-serif
  }
  /* Banner styles */
  .textBanner, .textSubBanner, .textTitle, .textTitleImage {
    @apply font-serif font-thin;
  }
  .textBanner { @apply text-4xl md:text-5xl lg:text-6xl; }
  .textSubBanner { @apply text-3xl md:text-4xl lg:text-5xl; }
  .textTitle { @apply text-lg md:text-xl lg:text-3xl; }
  .textTitleImage { @apply text-base md:text-lg lg:text-xl; }
  
  /* Height and background styles */
  .heightBanner { height: 50rem !important; }
  .bg-primary-tdc, .bg-list-project-tdc, .bg-header-list-project-tdc, .bg-main-image-project-list {
    color: #ffffff;
  }
  .bg-primary-tdc { background: #222222; }
  .bg-contact-tdc { background: #13151B; }
  
  .bg-list-project-tdc { background: #1f1f1f; color: #000; }
  .bg-header-list-project-tdc { background: #2e2e2e; }
  .bg-main-image-project-list { background: #141414; }
  
  /* Button styles */
  
  .btnTDC-md, .btnTDC-sm, .btnTDC-lg, .btnFormTDC-rounded-sm, .btnFormTDC-rounded-md, .btnFormTDC-rounded-lg {
  
    @apply btn bg-[#222222] border-none text-white hover:bg-gray-300 rounded-none font-thin;
  }
  .btnTDCSolution-sm{
    @apply btn btn-sm bg-white  hover:text-white border-none rounded-none font-thin;
  }
  .btnFormTDC-rounded-sm { @apply text-sm px-8 py-3; }
  .btnFormTDC-rounded-md { @apply text-base px-8 py-3; }
  .btnFormTDC-rounded-lg { @apply text-lg px-8 py-3; }
  .btnFormTDC-sm { @apply text-sm px-2 py-1; }
  .btnFormTDC-md { @apply text-base px-4 py-2; }
  .btnFormTDC-lg { @apply text-lg px-8 py-3; }
  .image-light {
    filter: invert(100%) brightness(1.5) !important; /* Increase brightness to make it whiter */
    -webkit-filter: invert(100%) brightness(1.5) !important;
  }
  
  .image-dark {
    filter: invert(0%) !important; /* Revert the inversion for hover effect */
    -webkit-filter: invert(0%) !important;
  }
  
  .hover\:image-dark:hover {
    filter: invert(0%) !important; /* Apply the dark filter on hover */
    -webkit-filter: invert(0%) !important;
  }
  .hover\:image-light:hover  {
    filter: invert(100%) !important; /* Ensure this style is applied only to elements with this class */
    -webkit-filter: invert(100%) !important;
  }
  
  /* Ensuring consistent font size and weight */
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  /* Responsive adjustments for mobile devices */
  @media (max-width: 768px) {
    h1 { @apply text-2xl; }
    h2 { @apply text-xl; }
    h3 { @apply text-lg; }
    h4 { @apply text-base; }
    h5 { @apply text-sm; }
    h6 { @apply text-xs; }
    p { @apply text-sm; }
  }
  
  @layer components {
    .btn-sm {
      @apply px-2 py-1 text-sm; /* Example styles, adjust as needed */
    }
  }
  